extends layout

block head
  script(src="/javascripts/sceneRotator.js", "defer")
  script(src="/javascripts/randomPoller.js", "defer")

block content
  h1= "Single page (no iframe) reloading every second"
